
   .intro {
     width: 100%;
     height: 28vh;
     background: url("../img/kol1.jpg") center;
     background-size: cover;
   }

.navigate{
  width: 500px;
  height:220px;
  background-color: #f5d6b3;
}
