
   .intro {
     width: 100%;
     height: 28vh;
     background: url("../img/tm1.jpg") center;
     background-size: cover;
   }

.navigate{
  width: 500px;
  height:270px;
  background-color:#faeab1;
}
